{#
/**
* @file
* Theme override to display a UMD Terp Person node.
*/
#}

<div {{attributes}}>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-1000-11">
        <umd-element-person-bio data-theme="light">

          {% set photo = assets_path ~ '/img/Profiles_Photo_Placeholder.svg' %}
          {% if content.field_umdt_ct_person_photo|field_value %}
            {% set photo = file_url(content.field_umdt_ct_person_photo|field_target_entity.uri.value | image_style('optimized')) %}
          {% endif %}

          <img slot="image" src="{{ photo }}" alt="Portrait of {{ node.title.value }}"/>
          <p slot="name">{{ node.title.value }}</p>

          {% if content.field_umdt_ct_person_title|field_value %}
            <p slot="job-title">{{ content.field_umdt_ct_person_title|field_value }}</p>
          {% endif %}

          {% if content.field_umdt_ct_person_email|field_value %}
            <a slot="email" href="mailto:{{ content.field_umdt_ct_person_email|field_value }}">{{ content.field_umdt_ct_person_email|field_value }}</a>
          {% endif %}

          {% if phone %}
            <a slot="phone" href="tel:+{{ phone_link }}">
              <span>{{ phone }}</span>
              {% if phone_ext %}
                {{ phone_ext }}
              {% endif %}
            </a>
          {% endif %}

          {% if content.field_umdt_ct_person_location|field_value %}
            <p slot="address">{{ content.field_umdt_ct_person_location|field_value }}<br/>
            </p>
          {% endif %}

          {% if content.field_umdt_ct_person_bio|field_value %}
            <div slot="description" class="umd-text-rich-advanced">
              {{ content.field_umdt_ct_person_bio|field_value }}
            </div>
          {% endif %}
        </umd-element-person-bio>

        {% if content.field_umdt_ct_person_website|field_value %}
          <div>
            <a href="{{ content.field_umdt_ct_person_website }}" target="_blank">Personal Website</a>
          </div>
        {% endif %}

        {% if departments %}
          <h3 class="profile-subheading">{{ umd_terp_people_department_label|default('Department Information') }}</h3>
          <ul>
            {% for department in departments %}
              {% if department.link %}
                <li>
                  <a slot="association" href="{{ department.link }}">{{ department.title }}</a>
                </li>
              {% else %}
                <li>{{ department.title }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}

        {% if content.body|field_value %}
          <div class="editor-content">
            {{ content.body|field_value }}
          </div>
        {% endif %}

        {{ content.field_umdt_ct_sections }}

      </div>
    </div>
  </div>
</div>
{{ content|without('body', 'field_umdt_ct_person_author_stat', 'field_umdt_ct_person_bio', 'field_umdt_ct_person_departments', 'field_umdt_ct_person_email', 'field_umdt_ct_person_first_name', 'field_umdt_ct_hero_image', 'field_umdt_ct_person_last_name', 'field_umdt_ct_person_location', 'field_umdt_ct_person_phone', 'field_umdt_ct_person_phone_ext', 'field_umdt_ct_person_photo', 'field_umdt_ct_sections', 'field_umdt_ct_person_title', 'field_umdt_ct_person_website') }}
