{#
/**
 * @file
 * Theme override to display a UMD Terp Homepage node.
 */
#}

{%
  set type =  node.field_umdt_ct_hero_style.value 
%}
{%  if type == 'home-hero-bg' %}
	{% set umd_hero_type = 'default'%}
{% else %}
	{% set umd_hero_type = 'stacked'%}
{% endif %}

{%
  set brightness =  'light'
%}

{# Video or Image #}
<umd-element-hero type="{{umd_hero_type}}" theme="{{brightness}}" data-animation="false">
	{% if content.field_umdt_ct_hero_video|field_value %}
		{# Video #}
		<video slot="video" loop="" muted="" playsinline="" autoplay="" preload="auto">
			<source type="video/mp4" src="{{ file_url(content.field_umdt_ct_hero_video[0]['#media'].field_media_video_file.entity.uri.value) }}"/>
		</video>
	{% elseif content.field_umdt_ct_hero_image|field_value %}
		{# Image #}
		<img slot="image" src="{{ file_url(content.field_umdt_ct_hero_image[0]['#media'].field_media_image.entity.uri.value | image_style('optimized')) }}" alt="{{ content.field_umdt_ct_hero_image[0]['#media'].field_media_image.alt }}"/>
	{% endif %}
	{% if content.field_umdt_ct_hero_title|field_value %}
		<h1 slot="headline">{{ content.field_umdt_ct_hero_title|field_value }}</h1>
	{% endif %}
	{% if content.field_umdt_ct_hero_subtitle|field_value %}
		<div slot="eyebrow">{{ content.field_umdt_ct_hero_subtitle|field_value }}</div>
	{% endif %}
	{% if content.field_umdt_ct_hero_text|field_value %}
		<div slot="text">
			<p>{{ content.field_umdt_ct_hero_text|field_value }}</p>
		</div>
	{% endif %}
	{% if content.field_umdt_ct_hero_cta.0 %}
		{% set link = content.field_umdt_ct_hero_cta.0 %}
		<div slot="actions">
			<umd-element-call-to-action slot="actions" data-display="primary" data-visual-size="" data-theme="{{ brightness }}">
				<a href="{{ link['#url'] }}" target="{{ link['#options'].attributes.target|default('_self') }}">
					{{ link['#title'] }}
				</a>
			</umd-element-call-to-action>
		</div>
	{% endif %}
</umd-element-hero>


{{ content|without('field_umdt_ct_hero_video', 'field_umdt_ct_hero_style', 'field_umdt_ct_hero_image', 'field_umdt_ct_hero_title', 'field_umdt_ct_hero_subtitle', 'field_umdt_ct_hero_text', 'field_umdt_ct_hero_cta') }}
