{#
/**
* @file
* Displays global UMD footer.
*
*/
#}

{# Begin UMD Brand Footer #}
  <umd-element-footer theme="dark" style="display: block;">
    <div slot="contact-headline">
      {{ site_name }}
    </div>
	{% if umd_terp_address %}
		<address slot="contact-address">
			<span>{{ umd_terp_address }}</span>
		</address>
	{% endif %}
    <div slot="contact-links">
	  	{% if umd_terp_email %}
			<a href="mailto:{{ umd_terp_email }}">{{ umd_terp_email }}</a>
		{% endif %}
	  	{% if umd_terp_phone %}
			<a href="tel:+{{ umd_terp_phone|preg_replace('/[^0-9]/', '') }}">{{ umd_terp_phone }}</a>
		{% endif %}
    </div>

    <div slot="social-links">
		{% if umd_terp_youtube_link %}
			<a
			href="{{ umd_terp_youtube_link }}"
			rel="noopener noreferrer"
			target="_blank"
			aria-label="Visit our Youtube"
		></a>
		{% endif %}

		{% if umd_terp_facebook_link %}
			<a
			href="{{ umd_terp_facebook_link }}"
			rel="noopener noreferrer"
			target="_blank"
			aria-label="Visit our Facebook"
		></a>
		{% endif %}

		{% if umd_terp_twitter_link %}
			<a
			href="{{ umd_terp_twitter_link }}"
			rel="noopener noreferrer"
			target="_blank"
			aria-label="Visit is on X"
		></a>
		{% endif %}
	
		{% if umd_terp_instagram_link %}
			<a
			href="{{ umd_terp_instagram_link }}"
			rel="noopener noreferrer"
			target="_blank"
			aria-label="Visit our Instagram"
		></a>
		{% endif %}
	
		{% if umd_terp_linkedin_link %}
			<a
			href="{{ umd_terp_linkedin_link }}"
			rel="noopener noreferrer"
			target="_blank"
			aria-label="Visit our LinkedIn"
		></a>
		{% endif %}
    </div>
  </umd-element-footer>
{# End Footer #}
