{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
	{% import _self as menus %}

	{# Primary Slots for sidenav #}
	{% if items %}
		<div slot="primary-slide-links">
			{% for item in items %}
				{% if item.below %}
					<a href="{{ item.url }}" data-child-ref="slide-{{ loop.index }}">
						<span>{{ item.title }}</span>
					</a>
				{% else %}
					<a href="{{ item.url }}">
						<span>{{ item.title }}</span>
					</a>
				{% endif %}
			{% endfor %}
		</div>

		{# Main Dropdown #}
		<div slot="main-navigation">
			{% for item in items %}
				<umd-element-nav-item>
					{% if item.below %}
						<a href="{{ item.url }}" slot="primary-link">
							<span>{{ item.title }}</span>
						</a>
						<div slot="dropdown-links">
							{% for item in item.below %}
								<a href="{{ item.url }}">
									<span>{{ item.title }}</span>
								</a>
							{% endfor %}
						</div>
					{% else %}
						<a href="{{ item.url }}" slot="primary-link">
							<span>{{ item.title }}</span>
						</a>
					{% endif %}
				</umd-element-nav-item>
			{% endfor %}
		</div>
	{% endif %}

	{# Children Slots for sidenav #}
	{% if items %}
		<div slot="children-slides">
			{% for item in items %}
				{% if item.below %}
					{% set parent = loop.index %}
				{% else %}
					{% set parent = NULL %}
				{% endif %}
				{% if item.below %}
					{% if parent %}
						<div data-parent-ref="slide-{{ parent }}">
						{% else %}
							<div>
							{% endif %}
							{% for item in item.below %}
								<a href="{{ item.url }}">
									<span>{{ item.title }}</span>
								</a>
							{% endfor %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}


	{% endmacro %}
